@font-face {
    font-family: 'acherus_grotesqueregular';
    src: url('./font/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('./font/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'learning_curvebold';
    src: url('./headerfont/learning_curve_bold_ot_tt-webfont.woff2') format('woff2'),
         url('./headerfont/learning_curve_bold_ot_tt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover, a:active{
    text-decoration-line: underline;
}

#alert {
    font-size: 8pt;
    font-style: italic;
}

#approve {
    grid-column: 1/2;
    grid-row:1/2;
    padding-top: 23%;
    align-content: center;
    align-items: center;
    font-size: 2em;
}

body {
    font-family: 'acherus_grotesqueregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.ContainerDown {
    position: relative;
    width: 100%;
    grid-column: 4/5;
    grid-row:1/2;
    align-content: center;
    align-items: center;
}

.ContainerDown:hover .Overlay{
    opacity: 1;
}

.ContainerUp {
    position: relative;
    width: 100%;
    grid-column: 2/3;
    grid-row:1/2;
    align-content: center;
    align-items: center;
}

.ContainerUp:hover .Overlay{
    opacity: 1;
}

.DashboardData {
    font-size: 64px;
}

#dashAllFlagged {
    grid-column: 2/4;
    grid-row:1/2;
    margin: 15px;
    font-style: italic;
    font-size: 16pt;
    color: #777676;
}

#dashMostRecent {
    grid-column: 2/4;
    grid-row:2/3;
    grid-area: d;
    align-self: end; 
    font-style: italic;
    font-size: 16pt;
    color: #777676;
}

#dashProfile {
    grid-column: 3/4;
    grid-row:2/3;
}

#dashScanned {
    grid-column: 3/4;
    grid-row:4/5;
}

#dashScanRun {
    grid-column: 2/3;
    grid-row:4/5;
}

#dashSite {
    grid-column: 2/3;
    grid-row:2/3;
}

#deny {
    grid-column: 5/6;
    grid-row:1/2;
    padding-top: 23%;
    align-content: center;
    align-items: center;
    font-size: 2em;
}

.Grid {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    justify-items: center;
    align-items: start;
}

.GridDashboard {
    display: grid;
    grid-template-columns:  10fr 40fr 40fr 10fr;
    grid-template-rows: 10fr 37fr 6fr 37fr 10fr;
    justify-items: center;
    align-items: start;
    text-align: center;
    grid-template-areas: 
    "a a b b"
    "c d d e"
    "f f f f"
    "f f f f"
    "f f f f";
}

.GridHeader {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: start;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.GridLoginView {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: repeat(3, 33fr);
    justify-items: center;
    align-items: start;
}

h2 {
    margin: 1px;
}

#home {
    grid-column: 2/3;
}

.Login {
    grid-column: 2/5;
    grid-row:2/3;
    padding: 4em;
    border: 1px;
    border-style: solid;
    text-align: center;
}

.Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#profile {
    grid-column: 4/5;
}

#site {
    grid-column: 3/4;
}

#spamSiteView {
    grid-column: 1/6;
    grid-row:1/6;
    height: 600pt;
    width: 100%;
}

.Title {
    grid-column: 2/5;
    font-size: 72pt;
    margin: 15px;
    font-family: 'learning_curvebold','acherus_grotesqueregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TitleLogin {
    grid-column: 2/5;
    font-size: 125pt;
    margin: 15px;
    font-family: 'learning_curvebold','acherus_grotesqueregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
