@font-face {
    font-family: 'acherus_grotesqueregular';
    src: url('./font/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('./font/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#approve {
    grid-column: 1/2;
    grid-row:1/2;
    padding-top: 23%;
    align-content: center;
    align-items: center;
    font-size: 2em;
}

body {
    font-family: 'acherus_grotesqueregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.ContainerDown {
    position: relative;
    width: 100%;
    grid-column: 4/5;
    grid-row:1/2;
    align-content: center;
    align-items: center;
  }

.ContainerDown:hover .Overlay{
    opacity: 1;
}

#deny {
    grid-column: 5/6;
    grid-row:1/2;
    padding-top: 23%;
    align-content: center;
    align-items: center;
    font-size: 2em;
}

.Grid {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    justify-items: center;
    align-items: start;
}

.GridHeader {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: start;
}

.Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }

#spamSiteView {
    grid-column: 1/6;
    grid-row:1/6;
    height: 600pt;
    width: 100%;
}

/* #thumbsDown {
    grid-column: 4/5;
    grid-row:1/2;
    align-content: center;
    align-items: center;
} */

#thumbsUp {
    grid-column: 2/3;
    grid-row:1/2;
    align-content: center;
    align-items: center;
}