@font-face {
    font-family: 'acherus_grotesqueregular';
    src: url('./font/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('./font/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'acherus_grotesqueregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Grid {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: repeat(5, 2fr);
    justify-items: center;
    align-items: start;
}

#thumbsUp {
    grid-column: 2/3;
    grid-row:1/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
}